<template name="app">
	<main>
	    {{#if hasLoggedIn}} 
	    	<!-- Show comments list when logged in -->
	    	<button class="btn-submit btn-logout">Logout</button>
	    	<section>
	    		<div class="card-wrapper discussion-wrapper">
	    			<h1 class="main-header">
	    				Welcome to the Discussion board
	    			</h1>
	    			<form class="comment-form">
	    				<textarea class="input-box comment-box" placeholder="Enter your comment" name="text" required></textarea>
	    				<button class="btn-submit btn-comment" type="submit">Add Comment</button>
	    			</form>
	    			<div class="comments-wrapper">
	    				{{#each allComments}}
	    					<div class="comment-wrapper">
		    					{{text}}
		    					<div class="comment-author align-right">
		    						 {{email}}
		    					</div>
	    					</div>
	    				{{/each}}
	    			</div>
	    		</div>
	    	</section>
	    	<!-- Show comments list when logged in -->
	    {{else}} 
	    	<!-- Show login wrapper when not logged in -->
	    	<section class="card-wrapper login-wrapper">
				<h1 class="main-header">
					Discussion Board
				</h1>
				<form class="login-form">
					<label class="input-label">Email</label>
					<input class="input-box" type="email" placeholder="Enter your email" name="email" required/>
					<label class="input-label">Password</label>
					<input class="input-box" type="password" placeholder="Enter your password" name="password" required/>
					{{#if errorMessage}}
			        	<div class="error error-message">	{{errorMessage}}
			        	</div>
			        {{/if}}
					<button class="btn-submit" type="submit">Login</button>
				</form>
			</section>
			<!-- Show login wrapper when not logged in -->
	    {{/if}}
	</main>	
</template>